version: '3.8'

services:
  app:
    build: .
    ports:
      # ブラウザでアクセスするために 80:5000 に設定
      - "80:5000"
    environment:
      DEBUG: "false"
      FLASK_ENV: "production"
      # .env から読み込まれる変数を指定
      DATABASE_URL: ${DATABASE_URL}
      SECRET_KEY: ${SECRET_KEY}
      ADMIN_USERNAME: ${ADMIN_USERNAME}
      ADMIN_PASSWORD: ${ADMIN_PASSWORD}
    volumes:
      - .:/app
      - ./uploads:/app/uploads
    restart: unless-stopped
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
